node_modules
.yarn/*
!.yarn/releases
!.yarn/plugins
.pnp.*
dist
.next
.turbo
.env
.env.*
!.env.example
!**/.env.example
docker/livekit.yaml
docker/livekit.prod.yaml
docker/data/youtube-cookies.txt
**/youtube-cookies.txt
**/youtube-cookies.b64.env
yt-dlp.exe
*.log
coverage
.DS_Store
apps/desktop/out
apps/desktop/release
apps/api/prisma/*.db
*.tsbuildinfo
.expo
apps/mobile/.expo
apps/mobile/dist
