node_modules
.yarn/*
!.yarn/releases
!.yarn/plugins
.pnp.*
dist
.next
.turbo
.env
.env.local
docker/livekit.yaml
*.log
coverage
.DS_Store
apps/desktop/out
apps/desktop/release
apps/api/prisma/*.db
*.tsbuildinfo
.expo
apps/mobile/.expo
apps/mobile/dist
